@charset "utf-8";

body {
    font-family: Helvetica, Arial, Freesans, clean, sans-serif;
    padding: 1em;
    margin: auto;
    max-width: 42em;
    background: #fefefe;
}


ul {
    list-style-type: disc;
}

h2 {
    page-break-before: always;
}

h2, h3, h4, h5, h6 {
    page-break-after: avoid;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top:40px;
    margin-bottom:20px;
}

h1 {
    border-bottom: 5px solid #CCCCCC;
    color: #000000;
    font-size: 28px;
}

h2 {
    border-bottom: 3px solid #CCCCCC;
    color: #000000;
    font-size: 24px;
}

h3 {
    border-bottom: 2px solid #CCCCCC;
    font-size: 18px;
}

h4 {
    border-bottom: 2px solid #CCCCCC;
    font-size: 16px;
}

h5 {
    border-bottom: 2px solid #CCCCCC;
    font-size: 14px;
}

h6 {
    color: #777777;
    background-color: inherit;
    font-size: 14px;
}

hr {
    height: 0.2em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}

p, blockquote, ul, ol, dl, li, table, pre {
    margin: 15px 0;
}

blockquote {
  margin-left: 10px;
  border-left: 4px solid #CCC;
  padding-left: 8px;
}

code, pre {
    border-radius: 3px;
    background-color: #F8F8F8;
    color: inherit;
}

code {
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px;
}

pre {
    border: 1px solid #CCCCCC;
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px;
}

pre>code {
    border: 0;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #4183C4;
    background-color: inherit;
    text-decoration: none;
}

/* Tables */

td, th {
    border: 1px solid #ddd;
    padding: 6px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

/* Images */

img {
    display: block;
    margin: auto;
    max-width: 100% !important;
}

  @page :left {
    margin: 15mm 20mm 15mm 10mm;
}

  @page :right {
    margin: 15mm 10mm 15mm 20mm;
}
