@charset "utf-8";

body{counter-reset: section}

h2:not(.hide-section-number) { counter-reset: sub-section }
h3:not(.hide-section-number) { counter-reset: composite }
h4:not(.hide-section-number) { counter-reset: detail }

h2:not(.hide-section-number):before {
    counter-increment: section;
    content: counter(section) " ";
}

h3:not(.hide-section-number):before {
    counter-increment: sub-section;
    content: counter(section) "." counter(sub-section) " ";
}

h4:not(.hide-section-number):before {
    counter-increment: composite;
    content: counter(section) "." counter(sub-section) "." counter(composite) " ";
}

h5:not(.hide-section-number):before {
    counter-increment: detail;
    content: counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) " ";
}
